* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    /* background-color: #be5683; */
    /* background-color: #F1E8E6; */
    background-color: #e76d89;

}

li {
    list-style: none;
    /* flex-direction: row; */
}

a {
    text-decoration: none;
    color:#fff;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    height: 60px;
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #be5683; */
    /* background-color: #F1E8E6; */
    background-color: #e76d89;

}

.logo{
  margin-left: 0%;
}

.business-logo{
  background-color: #fff;
  margin-top: 20px;
  width: auto;
  height: 70px;
  padding: 1px;
}



.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}


/* Add styles for box-icons */
.box-icons {
  display: flex;
  gap: 20px;
}

.box-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.box-icon i {
  font-size: 24px;
}

.box-icon:hover {
  transform: scale(1.1);
}

.action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;

}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: #aba4a2;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1000;
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    justify-content: center;
    display: flex;
}


/* HERO */
#hero {
    /* background-color: #be5683; */
    /* background-color: #F1E8E6; */
    background-color: #e76d89;
    padding: 3rem 0;
    
}

.hero-carousel {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.carousel-slide {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.upper {
    position: relative;
}

.black-strip {
    background-color: black;
    height: 30px;
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    /* margin-bottom: 105px; */
    margin-left: -130px;
}

.black-strip-text{
  color: #fff;
  margin-bottom: 20px;
  margin-left: 0;
}

p {
    /* margin-left: 60px; */
    /* Adjust as needed */
    /* color: #fff; */

}

.lower {
    margin-top: 5rem;
}

.hero-text{
  color: #fff;
}
.hero-subtext{
  color: #fff;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    margin-top: 1rem;
    color: #777;
}

.shop-now-button {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
    border-radius: 1px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: inline-block;
    margin-top: 100px;
    height: 50px;
    width: 100px;
}

.shop-now-button:hover {
    transform: scale(1.05);
    color: #fff;
}

/* Right Div (Model Image) */
.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right img {
    max-width: 100%;
    height: auto;
}

/* Carousel Effect */
.hero-carousel {
    /* animation: carousel 10s infinite; */
}

/* Product Cards */
.product{
  background-color: #fff;
}
.all-products{
  background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.product{
	overflow: hidden;
	background: #ffffff;
	color: #21201e;
	text-align: center;
	width: 240px;
	height: 400px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 2rem;
}

.product .product-title, .product .product-price{
	font-size: 12px;
}

.product:hover img{
	scale:  1.1;
}

.product:hover {
	box-shadow: 5px 15px 25px #eeeeee;
}

.product img {
	height: 200px;
	margin: 1rem;
	transition: all 0.3s;
}



.product a:hover{
	transform: scale(1.1);
}

.bx-heart {
    padding: 0.5rem;
    border: 1px solid pink;
    background-color: whitesmoke;
    border-radius: 50%;
    width: auto;
    font-size: 20px;
    color: #e76d89;
}

.bx-cart {
    padding: 0.5rem;
    /* border: 1px solid pink; */
    /* border-radius: 50%; */
    /* background-color: whitesmoke; */
    width: auto;
    font-size: 20px;
    color: #fff;
}

.product-image-container {
  position: relative;
  overflow: hidden; /* Ensure icons stay within the container */
}
/* Style the product icons */
.product-icons {
  position: absolute;
  bottom: 15px; 
  right: 0;
  z-index: 1; /* Icons will appear over the image */
  background-color: rgba(255, 255, 255, 0.8); /* Add a background for better visibility */
  padding: 5px; /* Adjust padding as needed */
  /* border-radius: 0 0 0 10px; Rounded corners on the left side */
  border-radius: 50%;
}

/* Style the product info */
.product-info {
  background-color: #fff; /* Background for product info */
  padding: 5px;
  border-radius: 0 0 10px 0; /* Rounded corners on the right side */
  /* max-height: 60px; */
}
.product-btn{
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	background-color: #2c3e50;
	padding: 1rem 1.2rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
  width: 120px;
}

.wig-category{
  background-color: #fff;
}
  


@keyframes carousel {
    0% {
        transform: translateX(0%);
    }

    33.33% {
        transform: translateX(-100%);
    }

    66.66% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}


/* Additional Section */
.additional-section {
    background-color: #f0f0f0;
    padding: 3rem 0;
    text-align: center;
}

/* Parent Container */
.parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 1200px; */
    margin: 0 auto;
}

/* Rectangular Child */
.rectangular-child {
    flex: 1;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    margin-bottom: 2rem;
    /*Add spacing between rectangular and square child */
    width: 100%;
    height: 300px;
    /* Adjust the width as needed */
    background-image: url(./assets/img/plywood.jpg);
    background-repeat: no-repeat;
    /* Prevent the background image from repeating */
    background-size: cover;
    /* Cover the entire background area */
    background-position: center;
    /* Center the background image */
    position: relative; /* Enable absolute positioning within the rectangular child */
    z-index: 1; /* Place it above the rectangular child */
    

}

.rectangular-child img {
    /* max-width: 100%;
    height: auto; */
}

.rectangular-child h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #fff;
}

.rectangular-child p {
    color: #777;
}

.shop-wigs-now-button {
    background-color: #fff;
    color: #e76d89;
    
    padding: 1rem 2.1rem;
    text-decoration: none;
    /* border-radius: 12px; */
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: inline-block;
    margin-top: 2rem;
    margin-left: 0rem;
    height: 50px;
    width: 150px;
}
.shop-wigs-now-button:visited{
    color: #e76d89;
}

.shop-now-button:hover {
    transform: scale(1.05);
}

/* Square Child */
.square-child {
    flex: 0 0 100%;
    /* Take up the full width on smaller screens */
    /* max-width: 200px; */
    height: 200px;
    width: 300px;
    /* Limit the width on larger screens */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 0;
    /* Remove margin on smaller screens */
    /* margin-top: 2rem; */
    /* Add spacing between rectangular and square child */
    bottom: 10%;
    /* left: 10%; */
    position: relative; /* Enable absolute positioning within the square child */
    z-index: 2; /* Place it below the square child */

}

.square-child img {
    max-width: 100%;
    height: auto;
}

/* Custom Navigation */
.custom-nav {
  background-color: #F1E8E6;
  padding: 10px;
  display: flex;
  flex-direction: column; /* Change to column layout for small screens */
  align-items: center;
  text-align: center; /* Center text on small screens */
}


.options {
  display: flex;
  flex-direction: column; /* Change to column layout for small screens */
  gap: 20px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.dropdown label {
  font-weight: bold;
}

/* CART TEMP */
.cart-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.cart-wrapper h1 {
padding: 20px 0;
text-align: center;
text-transform: uppercase;
}
.project {
display: flex;
}
.shop {
flex: 75%;
}
.box {
display: flex;
width: 100%;
height: 200px;
overflow: hidden;
margin-bottom: 20px;
background: #fff;
transition: all .6s ease;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.box:hover {
border: none;
transform: scale(1.01);
}
.box img {
width: 300px;
height: 200px;
object-fit: cover;
}
.content {
padding: 20px;
width: 100%;
position: relative;
}
.content h3 {
margin-bottom: 30px;
}
.content h4 {
margin-bottom: 50px;
}
.btn-area {
position: absolute;
bottom: 20px;
right: 20px;
padding: 2px 5px;
background-color: #3a71a9;
color: white;
cursor: pointer;
border-radius: 5px;
}
.btn-area:hover {
background-color: #76bfb6;
color: #fff;
font-weight: 600;
}
.unit input {
width: 40px;
padding: 5px;
text-align: center;
}
.btn-area i {
margin-right: 5px;
}
.right-bar {
  flex: 25%;
  margin-left: 20px;
  padding: 20px;
  height: 400px;
  border-radius: 5px;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.right-bar hr {
margin-bottom: 25px;
}
.right-bar p {
display: flex;
justify-content: space-between;
margin-bottom: 30px;
font-size: 20px;
}
.right-bar a {
  background-color: #76bfb6;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-weight: 900;
}
.right-bar i {
  margin-right: 15px;
}
.right-bar a:hover {
  background-color: #3972a7;
}

.cart-image{
  width: 40px;
  height: 40px;
}



/* ADMIN PANEL */

/* Responsive CSS for screens 768px or less */

@media (max-width: 768px) {
  .project {
      flex-direction: column;
      align-items: center;
  }

  .shop {
      width: 100%;
  }

  .box {
      width: 100%;
      margin-right: 0;
  }
  .box img {
    width: 100px;
    height: auto;
    object-fit: cover;
    }

  .right-bar {
      margin-left: 0;
      margin-top: 20px;
      width: 100%;
  }
}





/* Responsive Design */
@media screen and (max-width: 768px) {
  /* Adjust custom navigation layout for medium-sized screens */
  .custom-nav {
      flex-direction: row;
      align-items: flex-start;
      text-align: left; /* Reset text alignment for medium screens */
  }

.desktop{
  display: none;
}

  .options {
      flex-direction: row;
      /* margin-left: auto; */
  }

  .dropdown {
      margin-bottom: 0;
      margin-right: 20px;
  }
  


}

@media screen and (min-width: 992px) {
  /* Adjust custom navigation layout for large screens */
  .custom-nav {
      flex-direction: row;
  }


}


/* Testimonials Section */

/* Newsletter */
.wrapper {
    min-height: 100vh;
    color: #000;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    background-color: #F1E8E6;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  
  .container {
    background-color: #fff;
    padding: 1em;
    border-radius: 1em;
    max-width: 768px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -webkit-box-shadow: 0px 17px 34px -20px #f55951;
            box-shadow: 0px 17px 34px -20px #f55951;
  }
  
  .title {
    font-size: 1.6rem;
    font-weight: 700;
  }
  
  .text {
    font-size: 1rem;
    margin-bottom: 0.8em;
  }
  
  .container {
    max-width: 400px;
    overflow: hidden;
    padding: 0;
  }
  
  .img {
    width: 100%;
    height: auto;
    border-radius: 1em 1em 0 0;
    /* -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); */
  }
  
  .img__container {
    height: 200px;
    overflow: hidden;
    margin-bottom: 1.5em;
  }
  
  .title {
    margin-bottom: 0.9em;
  }
  
  .subtitle {
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-weight: 700;
  }
  
  .content {
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding: 0 2em;
    margin-bottom: 1.8em;
  }
  
  .mail {
    padding: 0.5em 0 0.5em 1.5em;
    line-height: 3;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 0.5em;
    margin-bottom: 1em;
  }
  
  ::-webkit-input-placeholder {
    color: #111127;
  }
  
  :-ms-input-placeholder {
    color: #111127;
  }
  
  ::-ms-input-placeholder {
    color: #111127;
  }
  
  ::placeholder {
    color: #111127;
  }
  
  .subscribe {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: #f55951;
    padding: 0.9em 0;
    display: inline-block;
    border: none;
    border-radius: 0.5em;
    width: 100%;
    margin-bottom: 1.3em;
  }
  
  .text {
    font-size: 0.9rem;
    width: 90%;
    text-align: center;
  }
  
  /* Footer */
  .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }
 
/* RESPONSIVE DESIGN */
@media screen and (max-width:768px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
        z-index: 1000;
    }

    #hero{
      z-index: 999;
    }

    .carousel-slide {
        flex-direction: column;
        z-index: 999;
    }

    .left,
    .right {
        flex: none;
    }

    .black-strip {
        margin-left: 0;
    }

    h2 {
        margin-left: 0;
    }

    .right img {
        max-width: 100%;
        height: auto;
    }

  

    /* ADDITIONAL SECTION */
    .parent-container {
        /* flex-direction: row; */
        display: grid;
    }

    .rectangular-child {
        width: 100%;
        margin-bottom: 0;
        margin-right: 2rem;
        /* Add spacing between rectangular and square child */
    }
    .square-child {
        width: 70%;
        margin-bottom: 0;
        margin-right: 2rem;
        margin-left: 2rem;
        left: 0%;
        /* Add spacing between rectangular and square child */
    }

   
}

@media screen and (max-width:576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

}